{% load cache %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login/Register</title>
</head>
<body>
<center>
    <h1>Verify Email</h1>
    <hr>
    <form action="#" method="post">
        <input name="email" type="email" placeholder="email ..." required>
        <br>
        <input name="code" placeholder="code ..." type="text" maxlength="6" required>
        <br>
        <input type="submit" value="Login/Register">
    </form>
</center>
</body>
</html>